// Game board styles go here

$messageBoxHeight: 5.5rem;

html {
    font-size: 125%;
}

body {
    background: black;
    color: white;
}

h1,h2,h3,p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: stretch;
    .row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}

.statsHolder {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - #{$messageBoxHeight});
    width: 25%;
    p, h2, h3 {
        font-size: 1rem;
    }
    .special, h2, h3 {
        text-decoration: underline;
    }
    h2, h3, p {
        margin: 0.5rem 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0.5rem;
            p {
                margin: 0;
                width: 100%;
            }
            button {
                margin-top: 0.2rem;
                display: block;
                width: 50%;
            }
        }
    }
    .inventory {
        overflow-y: auto;
    }
    .actions {
        margin-top: auto;
        ul li button {
            width: 100%;
        }
    }
    button {
        color: yellow;
        background: black;
        display: block;
        height: 1rem;
        padding: 0;
        border: none;

        text-align: left;

        border-radius: 2px;
        transition: 0.3s;
        &:hover, &:focus {
            color: cyan;
        }
    }
    .good {
        color: rgb(0,255,0);
    }
    .okay {
        color: orange;
    }
    .bad {
        color: red;
    }
}

.messages {
    width: 100%;
    height: $messageBoxHeight;
    overflow: hidden;
    // padding: 0.5rem 0;
    p {
        opacity: 0.4;
        margin: 0.1rem 0;
        &.important {
            font-weight: bold;
        }
        &.good {
            color: yellow;
        }
        &.bad {
            color: red;
        }
    }
    p:nth-child(2) {
        opacity: 0.8;
    }
    p:nth-child(3) {
        opacity: 0.6
    }
    p:first-child {
        opacity: 1;
    }
}

.game {
    margin: 0 auto;
    font-family: monospace;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(30, 1rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .tile {
        position: relative;
        padding-bottom: 100%;
        width: 100%;
    }
}

.entity {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 1rem;
    height: 1rem;
    z-index: 10;
}

.tile, .entity {
    .art {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
    }
    &.hidden {
        visibility: hidden;
    }
    &.memory {
        filter: grayscale(100%) brightness(0.5);
    }
}