@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background: black;
  color: white;
  font-family: "Courier Prime", monospace;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: stretch;
  position: relative;
}
.container .row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.container .level {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border-radius: 5px;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
}

.statsHolder {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 5.5rem);
  width: 25%;
  min-width: 14rem;
  padding-left: 0.5rem;
}
.statsHolder p, .statsHolder h2, .statsHolder h3 {
  font-size: 1rem;
}
.statsHolder .special, .statsHolder h2, .statsHolder h3 {
  text-decoration: underline;
}
.statsHolder h2, .statsHolder h3, .statsHolder p {
  margin: 0.5rem 0;
}
.statsHolder ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.statsHolder ul li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.statsHolder ul li p {
  margin: 0;
  width: 100%;
}
.statsHolder ul li button {
  margin-top: 0.2rem;
  display: block;
  width: 50%;
}
.statsHolder .inventory {
  overflow-y: auto;
}
.statsHolder .actions {
  margin-top: auto;
}
.statsHolder .actions ul li button {
  width: 100%;
}
.statsHolder button {
  color: yellow;
  background: black;
  display: block;
  min-height: 1rem;
  text-transform: capitalize;
  padding: 0;
  border: none;
  text-align: left;
  border-radius: 2px;
  transition: 0.3s;
}
.statsHolder button:hover, .statsHolder button:focus {
  color: cyan;
}
.statsHolder .good {
  color: lime;
}
.statsHolder .okay {
  color: orange;
}
.statsHolder .bad {
  color: red;
}

.messages {
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
}
.messages p {
  opacity: 0.4;
  margin: 0.1rem 0;
}
.messages p.important {
  font-weight: bold;
}
.messages p.good {
  color: yellow;
}
.messages p.bad {
  color: red;
}
.messages p:nth-child(2) {
  opacity: 0.8;
}
.messages p:nth-child(3) {
  opacity: 0.6;
}
.messages p:first-child {
  opacity: 1;
}

.game {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(30, 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid .tile {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}

.entity {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 1rem;
  height: 1rem;
  z-index: 10;
}

.tile .art, .entity .art {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
.tile.hidden, .entity.hidden {
  visibility: hidden;
}
.tile.memory, .entity.memory {
  filter: grayscale(100%) brightness(0.5);
}

.hamburger {
  display: none;
}

@keyframes pulse {
  0% {
    background: white;
  }
  50% {
    background: lime;
  }
  100% {
    background: white;
  }
}
@media (max-width: 620px) {
  .hamburger {
    display: block;
    position: absolute;
    z-index: 60;
    top: 6px;
    right: 6px;
    background: transparent;
    padding: 5px;
    border: none;
    height: 30px;
  }
  .hamburger .bars {
    position: relative;
    background: white;
    height: 3px;
    width: 21px;
    transition: 0.3s;
    transform: rotateZ(0deg);
  }
  .hamburger .bars::before, .hamburger .bars::after {
    content: "";
    position: absolute;
    background: white;
    height: 3px;
    width: 21px;
    transition: 0.3s;
    transform: rotateZ(0deg);
  }
  .hamburger .bars::before {
    top: -7px;
    left: 0;
  }
  .hamburger .bars::after {
    bottom: -7px;
    left: 0;
  }

  .hamburger.actionExists .bars, .hamburger.actionExists .bars::before, .hamburger.actionExists .bars::after {
    animation: pulse 1.5s linear infinite;
  }

  .hamburger.clicked .bars {
    transform: rotateZ(45deg);
  }
  .hamburger.clicked .bars::before {
    top: 0;
  }
  .hamburger.clicked .bars::after {
    bottom: 0;
    transform: rotateZ(-90deg);
  }

  .statsHolder {
    position: absolute;
    top: 0;
    z-index: 40;
    background: black;
    padding: 0 0 1rem 1rem;
    bottom: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s;
    max-height: 100vh;
    overflow-y: auto;
  }
  .statsHolder.open {
    transform: translateX(0);
  }
}
@media (max-width: 400px) {
  html {
    font-size: 100%;
  }
}
@media (max-height: 400px) {
  html {
    font-size: 100%;
  }
}
